<h2><%= @shop.name %></h2>

<div>
  <span><%= link_to 'Books', books_path %></span>
  <span><%= link_to 'Shops', shops_path %></span>
</div>

<table>
<tr>
  <th>book id</th>
  <th>title</th>
  <th>author</th>
  <th>author id</th>
  <th>quantity</th>
</tr>
<% @books.keys.sort.each do |key| %>
  <%= render @books[key].first, quantity:@books[key].size %>
<% end %>
</table>
