<h2>Books</h2>

<div>
  <span><%= link_to 'Books', books_path %></span>
  <span><%= link_to 'Shops', shops_path %></span>
</div>

<table>
<tr>
  <th>book id</th>
  <th>title</th>
  <th>author</th>
  <th>author id</th>
</tr>
<% @books.each do |book| %>
  <%= render book, quantity:nil %>
<% end %>
</table>
